*
{
    margin:0;
    padding:0;

}
body{
    background-color:#c77dff;
    text-align: center;
}
.container{
    height:70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.game{
    height: 60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.box{
    background-color: #ffddd2;
    height: 18vmin;
    width:18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 2 5rem rgba(144, 67, 67, 0.2);
    font-size: 9vmin;
    color: #5f0f40;
   
}
#reset-g{
padding: 1rem;
font-size: 1.3rem;
background-color: #a4ac86;
color: #1b4332;
border-radius: 2rem;
border-color: #032b18;
justify-content: center;
}
#gameNew{
    padding: 0.5rem;
font-size: 1rem;
border-radius: 1rem;
    color: #c9184a;
    background-color: #ffc971;
}
#msg
{
    color: red;
   font-size: 5vmin;
}
.msg-container{
    height:100vmin;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:5rem;
    
}
.hide{
    display: none;
}